<div dir="ltr" style="text-align: left;" trbidi="on">
	<div id="ppHeader" style="margin: 0px auto; width: 1247px;">
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; MindGame SoftSolutions</span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;">Gallery Application Privacy Policy</span></span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;">This privacy policy has been compiled to better serve those&nbsp;</span></span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">who are concerned with how their 'Personally Identifiable</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">&nbsp;Information' (PII) is being used online. PII, as described in&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">US privacy law and information security, is information that&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">can be used on its own or with other information to identify,&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">contact, or locate a single person, or to identify</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">&nbsp;an individual in context. Please read our privacy policy&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">carefully to get a clear understanding of how we collect,&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">use, protect or otherwise handle your Personally Identifiable&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">Information in accordance with our website.</span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-family: inherit; font-size: 15px;">What personal information do we collect from the people&nbsp;</span></span><br />
		<span style="background-color: white; font-family: inherit; font-size: 15px;">that visit our blog, website or app?</span><br />
		<span style="background-color: white; font-family: inherit; font-size: 15px;">When ordering or registering on our site, as appropriate,&nbsp;</span><br />
		<span style="background-color: white; font-family: inherit; font-size: 15px;">you may be asked to enter your phone number or other&nbsp;</span><br />
		<span style="background-color: white; font-family: inherit; font-size: 15px;">details to help you with your experience.</span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-family: inherit; font-size: 15px;">When do we collect information?</span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-family: inherit; font-size: 15px;">We collect information from you when you or enter&nbsp;</span></span><br />
		<span style="background-color: white; font-family: inherit; font-size: 15px;">information on our site.</span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span><span style="font-size: 15px;"><span style="font-family: inherit;">How do we use your information?</span></span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span><span style="font-size: 15px;"><span style="font-family: inherit;">We may use the information we collect from you when&nbsp;</span></span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">you register, make a purchase, sign up for our newsletter,&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">respond to a survey or marketing communication, surf the</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">&nbsp;website, or use certain other site features in the following&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">ways:</span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;">&nbsp; &nbsp; &nbsp; • To personalize your experience and to allow us to&nbsp;</span></span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">deliver the type of content and product offerings in which</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">&nbsp;you are most interested.</span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;">How do we protect your information?</span></span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span><span style="font-size: 15px;"><span style="font-family: inherit;">We do not use vulnerability scanning and/or scanning to&nbsp;</span></span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">PCI standards.</span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;">We do collect credit card information, but did not know&nbsp;</span></span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">PCI compliant scans are now required.</span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;">We do not use Malware Scanning.</span></span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;">We do not use an SSL certificate</span></span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;">&nbsp; &nbsp; &nbsp; • We do not need an SSL because:</span></span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span><span style="font-size: 15px;"><span style="font-family: inherit;">Do we use 'cookies'?</span></span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span><span style="font-size: 15px;"><span style="font-family: inherit;">We do not use cookies for tracking purposes</span></span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span><span style="font-size: 15px;"><span style="font-family: inherit;">You can choose to have your computer warn you each time</span></span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">&nbsp;a cookie is being sent, or you can choose to turn off all&nbsp;</span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;">coo</span></span><span style="font-family: inherit; font-size: 15px;">kies. You do this through your browser settings.&nbsp;</span></span><br />
		<span style="background-color: white;"><span style="font-family: inherit; font-size: 15px;"><br /></span>
<span style="font-family: inherit; font-size: 15px;">Since browser is a little different, look at your browser's&nbsp;</span></span><br />
		<span style="background-color: white;"><span style="font-family: inherit; font-size: 15px;">Help Menu to learn the correct way to modify your cookies</span><span style="font-family: inherit; font-size: 15px;">.</span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;">If you turn cookies off, some features will be disabled.</span></span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">&nbsp;that make your site experience more efficient and may&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">not function properly.</span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span><span style="font-size: 15px;"><span style="font-family: inherit;">However, you will still be able to place orders .</span></span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span><span style="font-size: 15px;"><span style="font-family: inherit;">Third-party disclosure</span></span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span><span style="font-size: 15px;"><span style="font-family: inherit;">We do not sell, trade, or otherwise transfer to outside&nbsp;</span></span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">parties your Personally Identifiable Information.</span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span><span style="font-size: 15px;"><span style="font-family: inherit;">Third-party links</span></span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span><span style="font-size: 15px;"><span style="font-family: inherit;">We do not include or offer third-party products or services</span></span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">on our website.</span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;">Google</span></span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span><span style="font-size: 15px;"><span style="font-family: inherit;">Google's advertising requirements can be summed up by&nbsp;</span></span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">Google's Advertising Principles. They are put in place to&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">provide a positive experience for users. https://support.</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">google.com/adwordspolicy/answer/1316548?hl=en</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">We use Google AdSense Advertising on our website.</span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span><span style="font-size: 15px;"><span style="font-family: inherit;">Google, as a third-party vendor, uses cookies to serve ads&nbsp;</span></span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">on our site. Google's use of the DART cookie enables it to&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">serve ads to our users based on previous visits to our site&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">and other sites on the Internet. Users may opt-out of the&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">use of the DART cookie by visiting the Google Ad and&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">Content Network privacy policy.</span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span><span style="font-size: 15px;"><span style="font-family: inherit;">We have implemented the following:</span></span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;">&nbsp; &nbsp; &nbsp; • Remarketing with Google AdSense</span></span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span><span style="font-size: 15px;"><span style="font-family: inherit;">We, along with third-party vendors such as Google use&nbsp;</span></span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">first-party cookies (such as the Google Analytics cookies)&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">and third-party cookies (such as the DoubleClick cookie)&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">or other third-party identifiers together to compile data&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">regarding user interactions with ad impressions and other&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">ad service functions as they relate to our website.</span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span><span style="font-size: 15px;"><span style="font-family: inherit;">Opting out:</span></span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">Users can set preferences for how Google advertises to you</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">&nbsp;using the Google Ad Settings page. Alternatively, you can&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">opt out by visiting the Network Advertising Initiative Opt&nbsp;</span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;">Out page or by using the Google Analytics Opt Out Browse</span></span><span style="font-family: inherit; font-size: 15px;">r add on.</span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span><span style="font-size: 15px;"><span style="font-family: inherit;">California Online Privacy Protection Act</span></span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span><span style="font-size: 15px;"><span style="font-family: inherit;">CalOPPA is the first state law in the nation to require&nbsp;</span></span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">commercial websites and online services to post a privacy&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">policy. The law's reach stretches well beyond California to&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">require any person or company in the United States&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">(and conceivably the world) that operates websites&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">collecting Personally Identifiable Information from</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">&nbsp;California consumers to post a conspicuous privacy policy</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">&nbsp;on its website stating exactly the information being&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">collected and those individuals or companies with whom&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">it is being shared. -&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">See more at: http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf</span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span><span style="font-size: 15px;"><span style="font-family: inherit;">According to CalOPPA, we agree to the following:</span></span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;">Users can visit our site anonymously.</span></span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;">Once this privacy policy is created, we will add a link to it&nbsp;</span></span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">on our home page or as a minimum, on the first significant</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">&nbsp;page after entering our website.</span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;">Our Privacy Policy link includes the word 'Privacy' and&nbsp;</span></span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">can easily be found on the page specified above.</span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span><span style="font-size: 15px;"><span style="font-family: inherit;">You will be notified of any Privacy Policy changes:</span></span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;">&nbsp; &nbsp; &nbsp; • On our Privacy Policy Page</span></span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;">Can change your personal information:</span></span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;">&nbsp; &nbsp; &nbsp; • By calling us</span></span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;">How does our site handle Do Not Track signals?</span></span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;">We don't honor Do Not Track signals and Do Not Track,</span></span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">&nbsp;plant cookies, or use advertising when a Do Not Track&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">(DNT) browser mechanism is in place. We don't honor&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">them because:</span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;">It is mobile app</span></span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span><span style="font-size: 15px;"><span style="font-family: inherit;">Does our site allow third-party behavioral tracking?</span></span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;">It's also important to note that we do not allow third-party&nbsp;</span></span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">behavioral tracking</span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;">COPPA (Children Online Privacy Protection Act)</span></span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;">When it comes to the collection of personal information&nbsp;</span></span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">from children under the age of 13 years old, the Children's&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">Online Privacy Protection Act (COPPA) puts parents in&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">control. The Federal Trade Commission, United States'&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">consumer protection agency, enforces the COPPA Rule,&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">which spells out what operators of websites and online&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">services must do to protect children's privacy and safety&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">online.</span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;">We do not specifically market to children under the age&nbsp;</span></span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">of 13 years old.</span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span><span style="font-size: 15px;"><span style="font-family: inherit;">Fair Information Practices</span></span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;">The Fair Information Practices Principles form the&nbsp;</span></span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">backbone of privacy law in the United States and the&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">concepts they include have played a significant role in&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">the development of data protection laws around the globe.&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">Understanding the Fair Information&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">Practice Principles and how they should be</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">&nbsp;implemented is critical to comply with the&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">various privacy laws that protect personal&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">information.</span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;">In order to be in line with Fair Information Practices we&nbsp;</span></span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">will take the following responsive action, should a data&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">breach occur:</span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;">We will notify you via email</span></span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;">&nbsp; &nbsp; &nbsp; • Within 1 business day</span></span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;">We also agree to the Individual Redress Principle which&nbsp;</span></span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">requires that individuals have the right to legally pursue&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">enforceable rights against data collectors and processors&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">who fail to adhere to the law. This principle requires not&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">only that individuals have enforceable rights against data&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">users, but also that individuals have recourse to courts or&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">government agencies to investigate and/or prosecute</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">&nbsp;non-compliance by data processors.</span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;">CAN SPAM Act</span></span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;">The CAN-SPAM Act is a law that sets the rules for&nbsp;</span></span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">commercial email, establishes requirements for&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">commercial messages, gives recipients the right to have&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">emails stopped from being sent to them, and spells out&nbsp;</span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">tough penalties for violations.</span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;">We collect your email address in order to:</span></span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span><span style="font-size: 15px;"><span style="font-family: inherit;">To be in accordance with CANSPAM, we agree to the&nbsp;</span></span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">following:</span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;">If at any time you would like to unsubscribe from&nbsp;</span></span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">receiving future emails, you can email us at</span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
<span style="font-size: 15px;"><span style="font-family: inherit;">and we will promptly remove you from ALL&nbsp;</span></span></span><br />
		<span style="font-size: 15px;"><span style="background-color: white; font-family: inherit;">correspondence.</span></span><br />
		<span style="background-color: white;"><span style="font-size: 15px;"><span style="font-family: inherit;"><br /></span></span>
</span><br />
		<div style="font-family: verdana; font-size: 21pt;">
			<br /></div>
	</div>
	<div class="innerText">
	</div>
</div>
